$base_color: #195581;
$base_color-hover: #1486D9;
$second_color: #3D3D3D;
$black: black;
$white: white;
$card-background: #F6F6F6;
$input_border: #ccc;
$red: red;
$green: green;
$error_bg: #ffe6e6;
$success_bg: #e6ffe6;
$error_border: #ff4d4d;
$success_border: #4dff4d;