$base_color: #195581;
$base_color-hover: #1486D9;
$black: black;
$border-color: #E0E0E0;
$button-color: #195581;
$button-hover-color: #1486D9;
$card-background: #F6F6F6;
$error_bg: #ffe6e6;
$error_border: #ff4d4d;
$green: green;
$input_border: #ccc;
$primary-color: #195581;
$red: red;
$second_color: #3D3D3D;
$secondary-color: #ABABAB;
$success_bg: #e6ffe6;
$success_border: #4dff4d;
$text-color: #333;
$white: white;