* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  }

  li,
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    outline: none;
  }